1. Buatlah list berisi seluruh email pegawai yang ada di string data berikut.

In [2]:
data = '''booker12;rachel@example.com;9012;Rachel;Booker
grey07;grey@anatomy.com;2070;Laura;Grey
johnson81;johnson@johnson.and;4081;Craig;Johnson
jenkins46;mary@example.com;9346;Mary;Jenkins
smith79;jamie@example.com;5079;Jamie;Smith
looke13;looke@example.com;9012;Rachel;Looke
york07;york@anatomy.com;2070;Laura;York
sholeh05;sholeh@johnson.and;4081;Craig;Sholeh
vale46;vale@example.com;9346;Mary;Vale
tugtug79;tugtug@example.com;5079;Jamie;Tugtug'''

In [4]:
#langkah 1: membagi string data berdasarkan tanda titik koma (;) dengan split()
data.split(';')
print(data.split(';'))
print (len (data.split(';')))

#langkah 2: indeks 1 dan mengambil setiap elemen ke-4
data.split(';')[1::4]

['booker12', 'rachel@example.com', '9012', 'Rachel', 'Booker\ngrey07', 'grey@anatomy.com', '2070', 'Laura', 'Grey\njohnson81', 'johnson@johnson.and', '4081', 'Craig', 'Johnson\njenkins46', 'mary@example.com', '9346', 'Mary', 'Jenkins\nsmith79', 'jamie@example.com', '5079', 'Jamie', 'Smith\nlooke13', 'looke@example.com', '9012', 'Rachel', 'Looke\nyork07', 'york@anatomy.com', '2070', 'Laura', 'York\nsholeh05', 'sholeh@johnson.and', '4081', 'Craig', 'Sholeh\nvale46', 'vale@example.com', '9346', 'Mary', 'Vale\ntugtug79', 'tugtug@example.com', '5079', 'Jamie', 'Tugtug']
41

['rachel@example.com',
 'grey@anatomy.com',
 'johnson@johnson.and',
 'mary@example.com',
 'jamie@example.com',
 'looke@example.com',
 'york@anatomy.com',
 'sholeh@johnson.and',
 'vale@example.com',
 'tugtug@example.com']

Challenge Zone: apakah task di atas bisa diselesaikan dengan satu baris kode?

In [72]:
list_emails = [emails.split(';')[1] for emails in data.split('\n')]
print (emails)

['rachel@example.com', 'grey@anatomy.com', 'johnson@johnson.and', 'mary@example.com', 'jamie@example.com', 'looke@example.com', 'york@anatomy.com', 'sholeh@johnson.and', 'vale@example.com', 'tugtug@example.com']

2. Buatlah list deck kartu yang berisi pasangan antara card_sleeve dan card_value

In [26]:
card_sleeve = ['♣','♦','♥','♠']
card_value = ['2','3','4','5','6','7','8','9','10','J','Q','K','A']

In [45]:
list_deck = []
for s in card_sleeve:
  for v in card_value:
    list_deck.append(v + ' of '+ s)
print(list_deck)

['2 of ♣', '3 of ♣', '4 of ♣', '5 of ♣', '6 of ♣', '7 of ♣', '8 of ♣', '9 of ♣', '10 of ♣', 'J of ♣', 'Q of ♣', 'K of ♣', 'A of ♣', '2 of ♦', '3 of ♦', '4 of ♦', '5 of ♦', '6 of ♦', '7 of ♦', '8 of ♦', '9 of ♦', '10 of ♦', 'J of ♦', 'Q of ♦', 'K of ♦', 'A of ♦', '2 of ♥', '3 of ♥', '4 of ♥', '5 of ♥', '6 of ♥', '7 of ♥', '8 of ♥', '9 of ♥', '10 of ♥', 'J of ♥', 'Q of ♥', 'K of ♥', 'A of ♥', '2 of ♠', '3 of ♠', '4 of ♠', '5 of ♠', '6 of ♠', '7 of ♠', '8 of ♠', '9 of ♠', '10 of ♠', 'J of ♠', 'Q of ♠', 'K of ♠', 'A of ♠']

Challenge Zone: apakah task di atas bisa diselesaikan dengan satu baris kode?

In [46]:
list_deck1 = [v + ' of ' + s for sleeve in card_sleeve for value in card_value] 
print(list_deck1)

['A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠', 'A of ♠']

3. Buatlah function untuk mengecek apakah pegawai dengan nama tertentu ada di employee_data,

In [48]:
employee_data = '''booker12;rachel@example.com;9012;rachel booker
grey07;grey@anatomy.com;2070;laura grey
johnson81;johnson@johnson.and;4081;craig johnson
jenkins46;mary@example.com;9346;mary jenkins
smith79;jamie@example.com;5079;jamie smith
looke13;looke@example.com;9012;rachel looke
york07;york@anatomy.com;2070;laura york
sholeh05;sholeh@johnson.and;4081;craig sholeh
vale46;vale@example.com;9346;mary vale
tugtug79;tugtug@example.com;5079;jamie tugtug'''

In [69]:
def is_employee_exist(search_name):
    # Mengubah employee_data menjadi list
    employee_list = employee_data.split('\n')
    
    # Iterasi setiap baris dalam employee_data
    for employee_info in employee_list:
        employee_info_list = employee_info.split(';')
        
        # Mengambil nama pegawai dari informasi pegawai yaitu di elemen terakhir
        name = employee_info_list[-1]
        
        # Jika nama pegawai yang ingin diperiksa ada dalam data pegawai, cetak nama dan emailnya
        if search_name in name:
            email = employee_info_list[1]
            print(f"Nama: {name}")
            print(f"Email: {email}")
            return True
    return False

In [73]:
is_employee_exist('jamie')

Nama: jamie smith
Email: jamie@example.com

True

4. Di dalam variabel student_score_data terdapat daftar nilai setiap mata pelajaran dari setiap siswa di kelas A. Siapa saja siswa yang ada di kelas A? Dan apa saja mata pelajaran yang mereka pelajari?

In [75]:
student_score_data = '''Tono,Matematika,100
Tuti,Matematika,34
Rosi,Matematika,78
Aldo,Matematika,86
Tono,English,73
Tuti,English,99
Rosi,English,63
Aldo,English,82
Tono,Biologi,67
Tuti,Biologi,97
Rosi,Biologi,72
Aldo,Biologi,81
Tono,Fisika,91
Tuti,Fisika,76
Rosi,Fisika,77
Aldo,Fisika,83
Tono,Olahraga,72
Tuti,Olahraga,74
Rosi,Olahraga,97
Aldo,Olahraga,91'''

In [83]:
# Mendapatkan daftar siswa dan mata pelajaran yang mereka pelajari
students = set()
subjects = set()

# Memisahkan data berdasarkan baris
student_data_list = student_score_data.split('\n')

# Iterasi setiap baris untuk mendapatkan nama siswa dan mata pelajaran
for line in student_data_list:
    elem = line.split(',')
    student = elem[0]
    subject = elem[1]
    students.add(student)
    subjects.add(subject)

for student in students:
    print(student)

for subject in subjects:
    print(subject)

Aldo
Tono
Tuti
Rosi
Matematika
English
Olahraga
Fisika
Biologi

5. Buat dictionary dengan key nama siswa, dan value berisi rata-rata nilai siswa tersebut

In [115]:
# Membuat dictionary untuk menyimpan nilai siswa
student_scores = {}

# Memisahkan data berdasarkan baris
student_data_list = student_score_data.split('\n')

# Iterasi baris untuk mendapatkan siswa dan nilai
for line in student_data_list:
    elemen = line.split(',')
    student = elemen[0]
    score = int(elemen[2])  # Mengubah nilai menjadi integer
    # Jika siswa sudah ada dalam dictionary, tambahkan nilai
    if student in student_scores:
        student_scores[student].append(score)
    # Jika siswa belum ada dalam dictionary, buat list nilai baru
    else:
        student_scores[student] = [score]

# Menghitung rata-rata nilai setiap siswa
average_scores = {student: sum(scores) / len(scores) for student, scores in student_scores.items()}

# Print dictionary rata-rata nilai setiap siswa
print("Rata-rata nilai setiap siswa:")
for student, average_score in average_scores.items():
    print(f"{student}: {average_score}")

Rata-rata nilai setiap siswa:
Tono: 80.6
Tuti: 76.0
Rosi: 77.4
Aldo: 84.6

6. Buat function untuk melakukan enkripsi password dengan langkah-langkah sebagai berikut:
Dapatkan nomor ASCII code dari setiap huruf dengan menggunakan fungsi ord().
Hitung sisa pembagian (modulo) dari nomor ASCII code dari langkah a dengan panjang variabel str_1.
Gunakan sisa pembagian (modulo) dari langkah b sebagai index untuk mengambil karakter hasil enkripsi dari str_1.
Untuk mengetes fungsi yang Anda buat:

apabila passwordnya adalah password, hasil enkripsinya menjadi YJ226X1M
apabila passwordnya adalah abcd1234, hasil enkripsinya menjadi JKLMXYZ1

In [116]:
def encrypt_password(password):
    str_1 = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"
    encrypted_password = ""
    
    # Langkah 1 Dapatkan nomor ASCII code dari setiap huruf
    ascii_codes = [ord(char) for char in password]
    
    # Panjang variabel str_1
    str_1_length = len(str_1)
    
    # Langkah 2 Hitung sisa pembagian (modulo) dari nomor ASCII code dengan panjang variabel str_1
    encrypted_chars = [ascii_code % str_1_length for ascii_code in ascii_codes]
    
    # Langkah 3 Gunakan sisa pembagian (modulo) sebagai index untuk mengambil karakter hasil enkripsi dari str_1
    for encrypted_char_index in encrypted_chars:
        encrypted_password += str_1[encrypted_char_index]
    
    return encrypted_password

# Test fungsi enkripsi password
password1 = encrypt_password("password")
password2 = encrypt_password("abcd1234")

print (password1)
print (password2)

YJ226X1M
JKLMXYZ1

7. Berikut ini adalah pesan yang dituliskan dalam kode di variabel myst_nums. Untungnya pemilik pesan telah menyediakan 3 dictionary dict1, dict2, dan dict3 untuk menerjemahkannya. Bisakah Anda menerjemahkan pesan tersebut?

In [125]:
# Pesan yang akan diterjemahkan
myst_nums = "2658 8503 2582 3035 9951 5535 1763 5552 2276 2079 4906 2658 293 2582 3407 786 6164 3279 3825 595 4975 6152 1974 7262 7262 2070 1861 6055 9735 1398 183 7262 7708 3284 4175 2908 8000 9364 4979 2070 1861 6055 9735 8590 4691 4979 8618 4161 9302 4979 7840 7262 3589 3589 9817 5372 7278 3522 2890 7206 8258 2037 8445 1076 7853 5400 8159 4505 8364 8258 1258 2738 4527 8258 2635 6049 5576 6798 9432 9290 4362 8258 6142 978 9198"

# Dictionary yang disediakan
dict1 = {6152: 'then', 9302: 'till', 9735: 'much', 1398: 'a', 8618: 'was', 3284: 'out', 7262: 'you', 1974: "there's", 4979: 'i', 4161: 'lost', 9364: 'crowds', 1861: 'feel', 7840: 'found', 183: 'stranger', 8590: 'in', 8000: 'the', 6055: 'that', 2070: "don't", 4691: 'danger', 4175: 'from', 7708: 'stand', 2908: 'all'}
dict2 = {3279: 'when', 595: 'none', 2276: 'no', 1763: 'streets', 3407: 'tryna', 3825: "there's", 3035: 'fighting', 4906: 'ground', 293: 'just', 5552: 'with', 2582: 'strangers', 2658: "we're", 9951: 'in', 5535: 'the', 6164: 'release', 2079: 'common', 4975: 'around', 8503: 'all', 786: 'find'}
dict3 = {9432: 'me', 3589: 'baby,', 5576: 'baby', 4505: 'not', 6142: 'can', 2738: 'is', 5372: 'you', 9817: "won't", 8258: 'i', 8445: 'really', 7853: 'stay', 6798: 'hold', 9198: 'breathe', 7278: 'please', 5400: 'if', 7206: 'me?', 6049: 'you,', 4362: 'so', 3522: 'come', 1258: 'know', 2635: 'need', 8159: "you're", 978: 'finally', 1076: 'wanna', 4527: 'that', 2890: 'rescue', 2037: "don't", 9290: 'close', 8364: 'all'}

def translate_message(myst_nums, dict1, dict2, dict3):
    # Membagi pesan menjadi angka"
    num_list = myst_nums.split()
    
    # Menerjemahkan angka sesuai dengan dictionary yang disediakan
    translated_message = ""
    for num in num_list:
        if int(num) in dict1:
            translated_message += dict1[int(num)] + " "
        elif int(num) in dict2:
            translated_message += dict2[int(num)] + " "
        elif int(num) in dict3:
            translated_message += dict3[int(num)] + " "
    
    return translated_message

# Menerjemahkan pesan
translated_message = translate_message(myst_nums, dict1, dict2, dict3)
print(translated_message)

we're all strangers fighting in the streets with no common ground we're just strangers tryna find release when there's none around then there's you you don't feel that much a stranger you stand out from all the crowds i don't feel that much in danger i was lost till i found you baby, baby, won't you please come rescue me? i don't really wanna stay if you're not all i know is that i need you, baby hold me close so i can finally breathe